.buttonsContainer {
  display: flex;
  gap: 16px;
  margin-left: 36px;
  /* justify-content: center; */
  margin-top: 16px;
}

.button {
  display: inline-block;
  gap: 16px;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 600;
}

.button:hover,
.button:focus {
  background-color: transparent;
  color: blue;
}
